input:invalid{
	background-color: #CED4DA
}
input:focus{
	background-color: #FFFFFF
}
input:valid {
	background-color: #E8F0FE
}
header {
	padding-bottom: 3em;
}
footer {
	color: white;
	padding-top: 1em;
}

/*Header CSS for background images.*/
.header{
	height: 100%;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/msuSunset.jpg);
	background-position: top;
	background-repeat: no-repeat;
	background-attachment: fixed;  
	background-size: contain;

	padding: 100px;
	text-align: center;
	color: #d0bb94;
	font-size: 25px; 
}
/*CSS styles for elements specific to the navigation bar */
.mainNavBarUL{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #0079C2;
	/*position: -webkit-sticky; /*Stickyness
    position: sticky; */
	top: 0;
	z-index: 1000;
}
.mainNavBarLI {
	float: left;
	border-right:1px solid white;
}
.mainNavBarLI:last-child {
	border-right:1px solid white;
	border-left:1px solid white;
}
.mainNavBarLI:first-child {
	border-right:0px solid white;
	border-left:0px solid white;
}
.mainNavBarLI a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.mainNavBarLI a:hover {
	background-color: #111;
}